//entete
.entete {
  height: 75px;
  background-color: rgba(255, 0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      height: 40px;
      width: 40px;
    }

    h2 {
      margin: 0;
      color: #f6002f;
  
      @media screen and (min-width: 998px) {
        color: white;
      }
  
    }
  }

} // fin entete