//bloc d'information sur l'humidite
.info-humidite {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 75px;

  //icone de l'humidite
  .icone-humidite {
    height: 100px;
    width: 100px;

    img{
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

  } //fin de l'icone de l'humidite

  //texte sur l'humidite
  .texte-humidite{

    h3 {
      color: #67C6E4;
    }
  
    h2{
      color: #3C8FA9;
    }
  
  } //fin du texte sur l'humidite

} //fin du bloc d'information sur l'humidite
