//bloc avec la courbe de temperature
.temperature-courbe {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  align-items: center;

  @media screen and (min-width: 998px) {
    height: 500px;
  }
  
  h4 {
    font-weight: normal;
    margin: 0;
    color: #3C8FA9;
  }

} //fin du bloc avec la courbe de temperature