//bloc avec la courbe de temperature
.temperature-courbe {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  h4 {
    margin: 0;
    color: #3C8FA9;
  }

} //fin du bloc avec la courbe de temperature