@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

html {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  max-width: 100%;
}

*, *::after, *::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: #F7FAFF;
}

a {
  color: inherit;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p, ul, li, a, button, input, textarea, form {
  font-family: 'Poppins', sans-serif;
}